body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.wrapper {
    width: 940px;
    margin: 0 auto;
    background-color: #fff;
}

@font-face {
    font-family: "Wisdom Script";
    src: url("../fonts/WisdomScriptAJ.woff") format("woff");
   }

@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/roboto-slab-v7-latin-regular.woff) format("woff"),
    url(../fonts/roboto-slab-v7-latin-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-v12-latin-regular.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Droid Serif";
    src: url(../fonts/droidserifbolditalic.woff) format("woff"),
    url(../fonts/droidserifbolditalic.woff2) format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-v12-latin-700.woff) format("woff"),
    url(../fonts/montserrat-v12-latin-700.woff2) format("woff2");
}

/* HEADER */

.header-bottom {
    margin-bottom: 102px;
}


.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}

.logo {
    font-family: "Wisdom Script";
    font-size: 26px;
    line-height: 41px;
    color: #fed136;
    text-decoration: none;
}

.menu-button {
    display: flex;
}

.menu-item {
    margin: 6px 40px 0 0;
    display: block;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    display: block;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 41px;
    color: #222;
    text-transform: uppercase;
}

.menu-link:hover,
.menu-link:focus {
    color: #fed136;
}

/* MAIN */

.headline {
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    color: #222222;
}

.signature {
    font-size: 16px;
    font-family: "Droid Serif";
    color: #777777;
    text-align: center;
    margin-bottom: 74px;
}

.service-flex {
    display: flex;
    justify-content: space-between;
}

.service {
    width: 290px;
    text-align: center;
}

.service-bottom {
    padding-bottom: 120px;
}

.service::before {
    content: "";
    display: block;
    width: 74px;
    height: 74px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.icon-bag::before {
    background-image: url(../photo/icon/icon-bag.jpg);
}

.icon-laptop::before {
    background-image: url(../photo/icon/icon-laptop.jpg);
}

.icon-lock::before {
    background-image: url(../photo/icon/icon-lock.jpg);
}

.service-name {
    font-size: 18px;
    line-height: 75px;
    color: #222222;
    font-family: "Montserrat";
}

.service-signature {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto Slab";
    padding: 0 8px;
}

  /* FOOTER */

.information {
    background-color: #222222;
    position: relative;
    background-image: url(../photo/map-image.png);
    background-repeat: no-repeat;
    background-position: right 90%;
    padding-bottom: 116px;
}

.contacts-title {
    color: #fff;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.contacts-form {
    width: 940px;
    margin: 0 auto;
}

.contacts-signature {
    font-size: 16px;
    font-family: "Droid Serif";
    color: #777777;
    text-align: center;
    margin-bottom: 74px;
}

.contacts-information {
    font-family: "Montserrat";
    font-weight: 700;
    padding: 20px;
    width: 456px;
    height: 52px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 2px;
    float: left;
}

.contacts-your-message {
    display: block;
    font-family: "Montserrat";
    font-weight: 700;
    width: 454px;
    height: 212px;
    padding: 20px;
    border: 0;
    border-radius: 2px;
}

.contacts-button {
    font-family: "Montserrat";
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 24px 48px;
    color: #fff;
    background-color: #fed136;
    border: 0;
    border-radius: 3px;
    display: block;
    cursor: pointer;
}

.contacts {
    display: flex;
}

.contacts-area {
    width: 456px;
    margin-right: 30px;
}

.information--outline {
    outline: 2px solid #ff0000;
}